body {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  text-align: center;
  background-image: url(a.jpg);
}

h1{
    font-size: 50px;
}

tr{
    color: white;
}

#tg-tac3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#top{
    font-weight: bold;
    color: rgb(255, 133, 133);
}

.table-container{
        margin-left: 40px;
        text-align: center;
}
